body {
	background-color: #ccc;
}
#container {
	width: 750px;
	background-color: #bbb;
	margin-left: auto;
	margin-right: auto;
}
#page {
	width: 650px;
	padding: 50px 50px 50px 50px;
	background-color: #fff;
}

#header {
	width: 650px;
	margin: 10px auto 10px auto;
	text-align: center;
}
.name {
	letter-spacing: 0.3em;
	border: 0; 
	margin-bottom: 0;
}
.address {
	font-size: 12px;
	font-weight: normal;
}
#content {
	width: 650px;
	margin 10px auto 10px auto;
	text-align: justify;
}
